@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html{
        font-family: "Jersey 15", serif;
        font-weight: 400;
        font-style: normal;
}

body{
    margin: 0;
}